body {
    background-color: cadetblue;
    font-family: sans-serif;
}

h2{
    text-align: center;
    background-color: cornflowerblue;
}

img{
    float: right;
}

h3.titulo{
    text-align: left;
    background-color: darkcyan;
}